<html>
    <title>Nebuchadnezzar</title>
    <body>

    <a href="/"><img src="/static/img/logo.jpg" width="65px"></a>

    <center>
    <h1>Welcome to Nebuchadnezzar!</h1>
    <br>
    {% for controller in controllers %}
        <h2>{{ controller.name }}</h2>
        <p><button onclick="window.location.href = '/led/get_modes?controller={{ controller.name }}';">Change LEDs</button></p>
        <br>
    {% endfor %}
    </center>

    </body>
</html>
