<html>
    <title>Nebuchadnezzar - LED Modes [{{ controller_name }}]</title>
    <body>

    <a href="/"><img src="/static/img/logo.jpg" width="65px"></a>

    <center>
    <h1> {{ controller_name }} - LED Modes </h1>
    <br>
    {% for led_mode in led_modes %}
        <h2>{{ led_mode.name }}</h2>
        <p><b>Description:</b> {{ led_mode.description }} </p>
        <p><button onclick="window.location.href = '/led/set_mode?controller={{ controller_name }}&mode={{ led_mode.name }}';">Apply {{ led_mode.name }}</button></p>
        <br>
    {% endfor %}
    <p><button onclick="window.location.href = '/';">Go back</button></p>
    </center>

    </body>
</html>
