<html>
    <title>Nebuchadnezzar - {{ led_mode.name }} [{{ controller_name }}]</title>
    <body>

    <a href="/"><img src="/static/img/logo.jpg" width="65px"></a>

    <center>
    <h1>{{ controller_name }} - {{ led_mode.name }}</h1>
    <b>Description:</b> {{ led_mode.description }} <br><br>
        <p><b>Successfully set!</b></p>
    <p><button onclick="window.location.href = '/led/get_modes?controller={{ controller_name }}';">Go back</button></p>
    </center>

    </body>
</html>
