<html>
    <title>Nebuchadnezzar - {{ led_mode.name }} [{{ controller_name }}]</title>
    <body>

    <a href="/"><img src="/static/img/logo.jpg" width="65px"></a>

    <center>
    <h1>{{ controller_name }} - {{ led_mode.name }}</h1>
    <b>Description:</b> {{ led_mode.description }} <br><br>
    <fieldset style="width: 0px">
    <legend>Params</legend>
    <form method = "get">
        <input type="hidden" name="controller" value="{{ controller_name }}" />
        <input type="hidden" name="mode" value="{{ led_mode.name }}" />
        {% for param in led_mode.params %}
            <p>Enter {{ param.name + ((" [" + param.min + " - " + param.max + "]") if not param.type == "c" else "") }}:</p>
            {% if param.type == "t" %}
                <p><input type = "text" name = "{{ param.name }}" /></p>
            {% endif %}
            {% if param.type == "s" %}
                <p><input type = "range" min = "{{ param.min }}" max = "{{ param.max }}" name = "{{ param.name }}" /></p>
            {% endif %}
            {% if param.type == "c" %}
            <p><input type="color" value="#0000ff" style="width:100%;" name = "{{ param.name }}"></p>
            {% endif %}
        {% endfor %}
        <p><input type = "submit" value = "Submit" /></p>
    </form>
    </fieldset>
    <p><button onclick="window.location.href = '/led/get_modes?controller={{ controller_name }}';">Go back</button></p>
    </center>

    </body>
</html>
